* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Oswald", sans-serif;
}

.header {
  margin: auto;
  margin-top: 1em;
  width: 96%;
  background-color: #fe5880;
  height: 4em;
  /* border-radius: 1em; */
  /* padding: 10px; */
}
.search {
  position: absolute;
  top: 1.7em;
  right: 4em;
  height: 50px;
  width: 25%;
  background-color: #fecede;
  border-radius: 0.5em;
  text-align: center;
  text-emphasis: bold;
  border: none;
}

/* .ulList {
  list-style: none;
  display: flex;
}

.ListEle {

  margin-top: 0.9em;
  margin-left: 2.1em;
} */
